<h2 id="настройки">Настройки</h2>
<p>Настройки программы находятся в пункте меню «Настройки» и позволяют настроить:</p>
<ul>
<li>базу данных;</li>
<li>почтовые формы;</li>
<li>импорт из документа в формате Excel;</li>
<li>автозамену города при импорте из файла;</li>
</ul>
<h3 id="настройка-база-данных">1.1 Настройка база данных</h3>
<p>Настройки базы данных находятся в пункте меню &quot;Настройки&quot; - &quot;База данных&quot;.</p>
<figure>
<img src="img/settings_db.png" alt="Окно настроек базы данных" /><figcaption>Окно настроек базы данных</figcaption>
</figure>
<ul>
<li>В поле ввода <strong>Логин</strong> указывается <em>Логин</em> для подключения к базе данных;</li>
</ul>
<blockquote>
<p><em>Логин</em> по умолчанию - <strong>SYSDBA</strong>.</p>
</blockquote>
<ul>
<li>В поле ввода <strong>Пароль</strong> указывается <em>Пароль</em> для подключения к базе данных;</li>
</ul>
<blockquote>
<p><em>Пароль</em> по умолчанию - <strong>masterkey</strong>.</p>
</blockquote>
<ul>
<li>В поле ввода <strong>Кодировка</strong> указывается <em>кодировка</em> базы данных;</li>
</ul>
<blockquote>
<p><em>Кодировка</em> по умолчанию - <strong>WIN1251</strong>.</p>
</blockquote>
<ul>
<li>В поле ввода <strong>Файл</strong> указывается путь к базе данных на диске. Для указания пути к базе данных, можно вызвать диалог открытия файла, нажав на кнопку <img src="img/open.png" title="Дилог выбора файла" alt="Дилог выбора файла" />;</li>
</ul>
<blockquote>
<p>По умолчанию база данных находится в папке с программой: <em>db.fdb</em></p>
</blockquote>
<p>Для применения настроек необходимо нажать на кнопку <strong>Сохранить</strong>. Для отмены введенных настроек - кнопку <img src="img/close.png" title="Кнопка &quot;Закрыть окно&quot;" alt="Закрыть окно" />.</p>
<h3 id="настройка-почтовых-форм">1.2 Настройка почтовых форм</h3>
<p>Настройки почтовых форм находятся в пункте меню &quot;Настройки&quot; - &quot;Формы&quot;.</p>
<figure>
<img src="img/settings_forms.png" alt="Окно настроек почтовых форм" /><figcaption>Окно настроек почтовых форм</figcaption>
</figure>
<p>В данном окне настроек существует возможность настройки 3-х почтовых форм:</p>
<ul>
<li>форма &quot;Реестр&quot;;</li>
<li>форма &quot;Бланк уведомлений&quot;;</li>
<li><p>форма &quot;Оборотная сторона&quot;;</p>
<h4>1.2.1 Указание пути к файлу формы</h4>
<p>У каждой формы под названием расположено поле с указанием пути к файлу с формой. Указать путь к файлу формы можно двумя способами:</p>
<ol type="1">
<li>Выбрать файл в диалоге, нажав на кнопку <img src="img/open.png" title="Дилог выбора файла" alt="Дилог выбора файла" />.</li>
<li>Ввести путь вручную в поле для ввода под соотвествующей формой.</li>
</ol></li>
</ul>
